// Mixin to customize scrollbar
@mixin scrollbar() {
  // firefox
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bg) transparent;

  /* width */
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    width: var(--scrollbar-thumb-width);
    background: var(--scrollbar-thumb-bg);
    background-clip: content-box;
    border: var(--scrollbar-thumb-border);
    border-radius: var(--scrollbar-thumb-border-radius);
  }
}

@mixin contentWrapper() {
  padding: 0 1%;
}

@mixin contentWidht() {
  max-width: var(--content-width);
}
